//
   Created by cookie on 2017-05-25.

html
    head
        title= _title
    body
                h1 Hello jade
                ul
                    -for(var i=0; i<5; i++)
                        li coding

                div= time

                -var time2 = Date();
                div= time2